.risk_5 {
	background-color: #FF4040;
}
.risk_4 {
	background-color: #FFA040;
}
.risk_3 {
	background-color: #FFFF40;
}
.risk_2 {
	background-color: #40FF40;
}
.risk_1 {
	background-color: #62B9FC;
}
.risk_0 {
	background-color: #D0D0D0;
}