<div class="page">
	<form id="signup">
		<h2>New User</h2>
		<div>
			<span class="help-block">Note: Your email address will never be shared</span>
			<input name="email" type="email" class="input-xlarge" placeholder="Email">
		</div>
		<div>
			<input name="username" type="text" placeholder="Username" />
		</div>
		<div>
			<input name="password" type="password" placeholder="Password" />
		</div>
		<div>
			<button id="signup_button" class="btn btn-large btn-primary">Signup</button>
		</div>
	</form>
	<form id="login">
		<h2>Existing User</h2>
		<div>
			<input name="username" type="text" placeholder="Username" />
		</div>
		<div>
			<input name="password" type="password" placeholder="Password" />
		</div>
		<div>
			<button id="login_button" class="btn btn-large btn-primary">Login</button>
		</div>
	</form>
</div>