<div class="page">
	<table style="width:99.5%; height:99.5%; position:absolute;">
		<tr height="0%">
			<td colspan="2">
			<div id="sync_progress" class="alert alert-info" style="display:none">
				<button id="sync_cancel" type="button" class="btn">Cancel</button>
				&nbsp;
				<img id="sync_spinner" src="images/ajax-loader.gif"/>
				&nbsp;
				<span id="sync_progress_message">Synchronizing...</span>
			</div><div id="sync_error" class="alert alert-error" style="display:none"></div>
			<div id="sync_success" class="alert alert-success" style="display:none">
				Synchronization successful
			</div></td>
		</tr>
		<tr>
			<td align="center"><img id="sources" class="tappable" src="images/source_large.png"/>
			<br/>
			Sources</td>
			<td align="center"><img id="map" class="tappable" src="images/map_large.png"/>
			<br/>
			Map</td>
		</tr>
		<tr>
			<td align="center"><img id="tests" class="tappable" src="images/test_large.png"/>
			<br/>
			My Tests</td>
			<td align="center"><img id="settings" class="tappable" src="images/settings_large.png"/>
			<br/>
			Settings</td>
		</tr>
	</table>
</div>