<div class="page">
    <h4>Note</h4>
	<div>
		<textarea id="note" rows="3" placeholder="Optional note"></textarea>
	</div>
    <label class="control-label">Operational Status</label>
    <select id="operational">
        <option value="">Unknown</option>
        <option value="1">{#loc field="source_notes.operational" value="1"/}</option>
        <option value="0">{#loc field="source_notes.operational" value="0"/}</option>
    </select>
	<div>
		<button id="save_button" type="button" class="btn btn-large btn-primary margined">
			Save
		</button>
		&nbsp;
		<button id="cancel_button" type="button" class="btn btn-large margined">
			Cancel
		</button>
	</div>
</div>