<style>
	.date {
		white-space: nowrap;
	}
	.name {
		font-weight: bold;
	}
	.text {
		padding: 2px;
	}
	.margined {
		margin: 0.05in;
	}
</style>

<div class="page">
    <div style="border: 1px solid gray; padding: 5px; width: 100px; min-height: 75px; float:right;">
        <img id="photo" style="max-width: 100px; display: block; margin-left: auto; margin-right: auto"/>
    </div>
    <h3>{name}</h3>
    <div class="margined">
        <div style="color: Gray">
            {desc}
        </div>
        <div>
            <b>ID:</b> {code}
        </div>
        <div>
            <b>Type:</b> {#loc field="sources.source_type" value=source_type/}
        </div>
        <button id="edit_source_button" class="btn"><i class="icon-edit"></i> Edit Source</button>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div id="location">
                <h4>Location</h4>
                <span class="buttoned" id="location"> </span>
                <button id="location_set" class="btn margined"><i class="icon-map-marker"></i> Set</button>
                <button id="location_map" class="btn margined">Map</button>
            </div>
            <h4>Analysis</h4>
            <table id="analyses" class="table"></table>

            <button id="add_test_button" class="btn pull-right margined"><i class="icon-plus-sign"></i> Add</button>
            <h4 class="buttoned">Water Tests</h4>
            <table id="tests" class="table"></table>

            <button id="add_note_button" class="btn pull-right margined"><i class="icon-plus-sign"></i> Add</button>
            <h4 class="buttoned">Notes</h4>
            <table id="notes" class="table"></table>
        </div>
    </div>
</div>