<div class="page">
    <label class="control-label">Source Type</label>
    <select id="source_type">
        <option value="">Select type</option>
        {#sourceTypes}
        <option value="{.}">{#loc field="sources.source_type" value=./}</option>
        {/sourceTypes}
    </select>
    <div>
        <label class="control-label">Name</label>
        <input id="name" type="text" placeholder="Optional name" />
    </div>
    <div>
        <label class="control-label">Description</label>
        <input id="desc" type="text" placeholder="Optional description" />
    </div>
    <div>
        <button id="save_button" type="button" class="btn btn-primary margined">
            Save
        </button>
        &nbsp;
        <button id="cancel_button" type="button" class="btn margined">
            Cancel
        </button>
    </div>
</div>